@model IEnumerable<YonetimPaneli.Models.Hakkimizdaa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Hakkımızda Bilgileri</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Aciklama)
                    </td>
                    <td>
                        @Html.ActionLink("Güncelleme", "Edit", new { id = item.HakkimizdaId }, new { @class = "btn btn-primary btn-sm" }) 
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2" class="text-center">Veri bulunamadı.</td>
            </tr>
        }
    </tbody>
</table>