@model YonetimPaneli.Models.Hizmet
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> HİZMET DUZENLE</h2>


<div class="form">
    <!-- Multi Columns Form -->
    <form class="form-validate form-horizontal" id="feedback_form" method="post" action="/Hizmet/Edit/@Model.HizmetId" enctype="multipart/form-data">
        <div class="form-group">
            <label for="Baslik" class="form-label">BAŞLIK</label>
            <input class="form-control" id="Baslik" name="Baslik" minlength="5" type="text" required value=" @Model.Baslik">
        </div>

        <div class="form-group">
            <label for="Aciklama" class="form-label">AÇIKLAMA</label>
            <textarea id="Aciklama" name="Aciklama" class="form-control" required>@Model.Aciklama</textarea>
        </div>


        <div class="form-group">
            <label for="ResimUrl" class="form-label">ONCEKİ RESİM </label>
            <img  src=" @Model.ResimUrl" height="100" width="100" />

        </div>


        <div class="form-group">
            <label for="ResimUrl" class="form-label">RESİM URL</label>
            <input type="file" class="form-control" id="ResimUrl" name="ResimUrl" accept=".jpg,.png,.jpeg" required>
        </div>


        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="margin-top:10px">KAYDET</button>
            <button type="reset" class="btn btn-warning" style="margin-top:10px"> <a href="/Hizmet/Index"> GERİ DÖN</a> </button>
        </div>
    </form>
</div>
